flows-6.json
[
    {
        "id": "fbc44ea8c3c7f9af",
        "type": "tab",
        "label": "Báo thức",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5361893b0ad914fd",
        "type": "tab",
        "label": "Biểu đồ + Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f75652ffe66e2ab",
        "type": "tab",
        "label": "Xử lí thông báo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36e61081857065ba",
        "type": "tab",
        "label": "Đăng kí / Đăng nhập",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edf7f2456ff47ca6",
        "type": "tab",
        "label": "Chatbot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aedd9935c1ea4bac",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "b3ecaf2d98cee222",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "a297fcf07b47a946",
            "89a2ff385947daec",
            "01d43b6ca999d83f",
            "b850b073ce9b1d40",
            "dab6e29355cc7f17",
            "36ab6253128c219c"
        ],
        "x": 514,
        "y": 259,
        "w": 532,
        "h": 342
    },
    {
        "id": "c40edc67e5f6961f",
        "type": "group",
        "z": "5361893b0ad914fd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7490c65c20f18ad3",
            "327b8f73269fc0bb",
            "14933a61e10ada34",
            "4dd094ed35e84f58",
            "01c5237ca0a96824",
            "b5053687d089c37e",
            "61df43a98dcf138c",
            "829fefc391830452",
            "f65f71a4c6760edd",
            "782c0f018d062e71",
            "7cc415b91dd6d4a7",
            "936f729d3d33dfa1",
            "d61f0bb62ab0d1bf",
            "ec0a261b3f253bc4",
            "9ff3f89215d6dd8e",
            "df7b9b4e8b069c63",
            "2abab3c41ca4e2da",
            "8a5f51287c508970"
        ],
        "x": 234,
        "y": 919,
        "w": 1692,
        "h": 529.5
    },
    {
        "id": "b26bfad05d684415",
        "type": "group",
        "z": "8f75652ffe66e2ab",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a1e623bae7993350",
            "671273b8bcbb3f90",
            "6179d77dc152870d",
            "f71abe1c39520ab2",
            "48bb3136db1227e1",
            "2a5bb3548f294394",
            "d6c54bad3fff57b8",
            "1ceee9c022639772",
            "0051deb2172e0474",
            "3cd3fa99991b26bc",
            "88a7b857dfff843f",
            "aa58d26967f8e4b5",
            "82dd0dfd75b5d83a"
        ],
        "x": 14,
        "y": 59,
        "w": 1452,
        "h": 402
    },
    {
        "id": "d33f130668225540",
        "type": "group",
        "z": "5361893b0ad914fd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ef3b48b950203b72",
            "76ec6f69119b1a58",
            "35a485afa8ec65fb",
            "5ed0e547b60d2bc7",
            "192dfa06dad88a3d",
            "8117a17056070da5",
            "83ac382ff9c5a26c",
            "1174446e55ea9f34",
            "ee95f23f3dfe639d",
            "9296a1b328029d24",
            "3d8c8d1e032f683e",
            "6faffd3bb3106e88",
            "6517643c68bb1535",
            "57e100d334dda3b1",
            "3a3b77e4ba449c7a",
            "e667e9ac284c331c",
            "f003dd2be739784f",
            "bef5940468552e80",
            "926292aff13aaabd"
        ],
        "x": 234,
        "y": 339,
        "w": 1472,
        "h": 462
    },
    {
        "id": "fd5f63f87004213b",
        "type": "group",
        "z": "edf7f2456ff47ca6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1b5194a0b45bce06",
            "9c970a392d85d1f7",
            "e1d58775185e6753",
            "6dce5180b01a8846",
            "108c0c8e24ea6f69",
            "125d0ee7adf51086",
            "eedfdf205499df89",
            "7cac03eb7275642f",
            "6816c49ed228a3c1",
            "99eab877fd05bb21",
            "1e9014dbe4dd62f8",
            "827f3eaef16c5c0f"
        ],
        "x": 114,
        "y": 119,
        "w": 1732,
        "h": 382
    },
    {
        "id": "4d26122ffeaa5708",
        "type": "group",
        "z": "8f75652ffe66e2ab",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c489daa54c87e06d",
            "13f659205562d45d",
            "eec714a992c68ebb",
            "84e7dc2d29efb286",
            "6856b07def5f27a8",
            "5c1b96fc331f9721",
            "8ad4507f435ebd46",
            "21e171431b8f67fd",
            "bb0587699b190ab8",
            "9ae3c2c1353f7820",
            "b557fd796533d4fe",
            "37e4be2427925706",
            "db5405884dd07f27",
            "0b6ec3585b9aafcd",
            "4c2b259fe24955ec",
            "6e49d4805c5c24b6",
            "91a698321061e29e",
            "e8d078f4520a62e4",
            "4a680f7eda5be290",
            "71928d8b6cd6f14b",
            "0ccd443287ffd060",
            "67014cc0286801ad"
        ],
        "x": 14,
        "y": 459,
        "w": 2392,
        "h": 502
    },
    {
        "id": "14e3c4fc8d99d39c",
        "type": "group",
        "z": "36e61081857065ba",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fea05cc45995fe6c",
            "0b81fac01f2a27f0",
            "d74307166a2009e0",
            "bfc19171d8a97d66",
            "14ae36a88b3cadf4",
            "22d20f212e7d8256",
            "40391be978b4af52",
            "d0e2e688246cc2d0",
            "e136a25b3f5fb46d",
            "4032c07e3bfbe622",
            "7c3d97f4f9cd8a36",
            "740783fff5e16e34",
            "2959ac2da1f60335",
            "da49d1d09538ae25",
            "994ad91d10d40dea",
            "d3180f9931e72630",
            "e02bf079fff476d3",
            "5cb12c7460736766",
            "714b5feca4378ae8",
            "04748abb76187b80",
            "adcb5fb269e9a011",
            "c3971c9f91f68815",
            "0132379a843b95b6",
            "24a00f9f7a37dacd",
            "bca197a9d8bb5e19",
            "eb01a4d6b3e72a9b",
            "a5969134d048c3e3",
            "e5330b289e8861b5",
            "f6f9eceedf8a6754",
            "fa8a362fc1d83613",
            "ad8eab03c3451555"
        ],
        "x": 94,
        "y": 679,
        "w": 2672,
        "h": 882
    },
    {
        "id": "9fd3e637a69e1bf7",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "1d9a7fc0082a411c84fa4a195fc39154.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "20bdc461d55fdddd",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "b11e759d6c66bd03",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "9cb6dca61e409f37",
        "type": "ui-page",
        "name": "Biểu đồ",
        "ui": "b11e759d6c66bd03",
        "path": "/bieu-do",
        "icon": "chart-multiple",
        "layout": "grid",
        "theme": "20bdc461d55fdddd",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "97317e5e69a3172f",
        "type": "ui-page",
        "name": "Cài đặt",
        "ui": "b11e759d6c66bd03",
        "path": "/settings",
        "icon": "cogs",
        "layout": "grid",
        "theme": "20bdc461d55fdddd",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "64d71bebcf6f8b62",
        "type": "ui-group",
        "name": "Ô nhiễm không khí",
        "page": "9cb6dca61e409f37",
        "width": "4",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dbab7f5bbb37e7c1",
        "type": "ui-group",
        "name": "Biểu đồ đo thông tin cảm biến",
        "page": "9cb6dca61e409f37",
        "width": "12",
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d5693fb03c4bf0ce",
        "type": "ui-group",
        "name": "Left side",
        "page": "97317e5e69a3172f",
        "width": "6",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "12ad069c3d0240a1",
        "type": "ui-group",
        "name": "Lựa chọn thời gian",
        "page": "9cb6dca61e409f37",
        "width": 12,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "16a4225d8f8c5cef",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4746d28b14b75f3f",
        "type": "ui-group",
        "name": "Right side",
        "page": "97317e5e69a3172f",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "092149a7f0fa9556",
        "type": "ui-group",
        "name": "Nhiệt độ",
        "page": "9cb6dca61e409f37",
        "width": "4",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "482dcb756e638c92",
        "type": "ui-group",
        "name": "Độ ẩm",
        "page": "9cb6dca61e409f37",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "21c0276998492c37",
        "type": "mongodb3",
        "uri": "mongodb+srv://ductri0981:ductri123@arduino-alarm-clock.3ngcpls.mongodb.net/?appName=Arduino-Alarm-Clock",
        "name": "",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "1c681e4223734d6f",
        "type": "ui-theme",
        "name": "Login",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "0px",
            "groupGap": "0px",
            "groupBorderRadius": "0px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "2f9a932f92635c2d",
        "type": "ui-page",
        "name": "Đăng nhập / Đăng ký",
        "ui": "b11e759d6c66bd03",
        "path": "/login",
        "icon": "login",
        "layout": "grid",
        "theme": "1c681e4223734d6f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "firebase-db-001",
        "type": "firebase-config",
        "name": "Firebase",
        "authType": "privateKey",
        "claims": {},
        "createUser": false,
        "status": {
            "firestore": false,
            "storage": false
        },
        "useClaims": false
    },
    {
        "id": "f6536cd9f0bb04fe",
        "type": "ui_link",
        "name": "Link 5",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "f70019707c99b17b",
        "type": "pushsafer-api-key",
        "name": "KPhan"
    },
    {
        "id": "a7fde89723c47d40",
        "type": "pushsafer-notification-template",
        "name": "",
        "title": "",
        "icon": "",
        "iconcolor": "#ffffff",
        "sound": "",
        "vibration": "",
        "priority": "",
        "devices": "",
        "timetolive": "",
        "retry": "",
        "expire": "",
        "answer": "",
        "url": "",
        "urltitle": "",
        "image": "",
        "image2": "",
        "image3": ""
    },
    {
        "id": "89a2ff385947daec",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "group": "d5693fb03c4bf0ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Cài đặt báo thức",
        "label": "Cài đặt báo thức",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "a297fcf07b47a946",
        "type": "ui-template",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "group": "d5693fb03c4bf0ce",
        "page": "",
        "ui": "",
        "name": "Frontend Báo thức",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n  .alarm-container {\n    font-family: sans-serif;\n    padding: 12px;\n    max-width: 500px;\n    margin: 0 auto;\n  }\n\n  .form-group {\n    margin-bottom: 43px;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n  }\n\n  .label {\n    font-size: 18px;\n    margin-bottom: 8px;\n    display: block;\n    font-weight: 600;\n    text-align: center;\n    width: 100%;\n  }\n\n  .day-buttons {\n    display: flex;\n    gap: 8px;\n    flex-wrap: wrap;\n    justify-content: center;\n  }\n\n  .day {\n    padding: 8px 14px;\n    border-radius: 8px;\n    border: 1px solid #888;\n    cursor: pointer;\n    user-select: none;\n    background: white;\n    transition: all 0.2s ease;\n  }\n\n  .day:hover {\n    background: #f0f0f0;\n  }\n\n  .day.selected {\n    background: #007bff;\n    color: white;\n    border-color: #007bff;\n  }\n\n  .time-picker,\n  .dropdown {\n    width: 100%;\n    padding: 10px;\n    border-radius: 6px;\n    border: 1px solid #888;\n    font-size: 16px;\n  }\n\n  .volume-control {\n    display: flex;\n    align-items: center;\n    gap: 12px;\n    width: 100%;\n    max-width: 400px;\n  }\n\n  .volume-slider {\n    flex: 1;\n    padding: 0;\n  }\n\n  .volume-value {\n    min-width: 50px;\n    font-weight: 600;\n    color: #007bff;\n  }\n\n  .update-button {\n    padding: 12px 32px;\n    background: #28a745;\n    color: white;\n    border: none;\n    border-radius: 8px;\n    font-size: 16px;\n    font-weight: 600;\n    cursor: pointer;\n    transition: all 0.2s ease;\n  }\n  \n  .update-button:hover {\n    background: #218838;\n    transform: translateY(-1px);\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n  }\n  \n  .update-button:active {\n    transform: translateY(0);\n  }\n</style>\n\n<div class=\"alarm-container\">\n\n  <!-- Time Picker -->\n  <div class=\"form-group\">\n    <label class=\"label\">⏰ Chọn giờ báo thức</label>\n    <input type=\"time\" class=\"time-picker\" v-model=\"alarmTime\"/>\n  </div>\n\n  <!-- Repeat Days -->\n  <div class=\"form-group\">\n    <label class=\"label\">📅 Chọn ngày lặp</label>\n    <div class=\"day-buttons\">\n      <button\n        v-for=\"day in days\"\n        :key=\"day.value\"\n        class=\"day\"\n        :class=\"{ selected: selectedDays.includes(day.value) }\"\n        @click=\"toggleDay(day.value)\"\n        :data-val=\"day.value\">\n        {{ day.label }}\n      </button>\n    </div>\n  </div>\n\n  <!-- Ringtone Dropdown -->\n  <div class=\"form-group\">\n    <label class=\"label\">🎵 Chọn bài hát báo thức</label>\n    <select v-model=\"selectedRingtone\" class=\"dropdown\">\n      <option value=\"\">-- Chọn bài hát --</option>\n      <option v-for=\"ringtone in ringtones\" :key=\"ringtone.value\" :value=\"ringtone.value\">\n        {{ ringtone.label }}\n      </option>\n    </select>\n  </div>\n\n  <div class=\"form-group\">\n    <button class=\"update-button\" @click=\"sendData\">Lưu cài đặt</button>\n  </div>\n</div>\n\n<script>\n  export default {\n    data() {\n      return {\n        alarmTime: this.getCurrentTime(),\n        selectedDays: [],\n        selectedRingtone: '',\n        days: [\n          { label: 'Mon', value: 1 },\n          { label: 'Tue', value: 2 },\n          { label: 'Wed', value: 3 },\n          { label: 'Thu', value: 4 },\n          { label: 'Fri', value: 5 },\n          { label: 'Sat', value: 6 },\n          { label: 'Sun', value: 0 }\n        ],\n        ringtones: [\n          { label: 'Merry Christmas', value: 0 },\n          { label: 'Pink Panther', value: 1 },\n          { label: 'Nơi này có anh', value: 2 }]\n      }\n    },\n    mounted() {\n    this.selectedDays = this.days.map(day => day.value);\n    this.selectedRingtone = this.ringtones[0].value;\n    },\n    methods: {\n      getCurrentTime() {\n        const now = new Date();\n        const hours = String(now.getHours()).padStart(2, '0');\n        const minutes = String(now.getMinutes()).padStart(2, '0');\n        return `${hours}:${minutes}`;\n      },\n      toggleDay(dayValue) {\n        const index = this.selectedDays.indexOf(dayValue);\n        if (index > -1) {\n          // Day is already selected, remove it\n          this.selectedDays.splice(index, 1);\n        } else {\n          // Day is not selected, add it\n          this.selectedDays.push(dayValue);\n        }\n      },\n      sendData() {\n        // Send data back to Node-RED\n        this.send({\n          payload: {\n            \"time\": this.alarmTime,\n            \"days\": this.selectedDays,\n            \"ringtone\": this.selectedRingtone,\n          }\n        });\n      }\n    }\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "b850b073ce9b1d40",
                "36ab6253128c219c"
            ]
        ]
    },
    {
        "id": "b850b073ce9b1d40",
        "type": "debug",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "name": "Data báo thức từ user",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "36ab6253128c219c",
        "type": "mqtt out",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "name": "",
        "topic": "/alarm",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fd3e637a69e1bf7",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "01d43b6ca999d83f",
        "type": "ui-switch",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "name": "Bật / tắt báo thức",
        "label": "Bật / Tắt báo thức",
        "group": "d5693fb03c4bf0ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "dab6e29355cc7f17"
            ]
        ]
    },
    {
        "id": "dab6e29355cc7f17",
        "type": "mqtt out",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "name": "",
        "topic": "/alarm/active",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9fd3e637a69e1bf7",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "7490c65c20f18ad3",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "1 ngày trước",
        "label": "1 ngày trước",
        "order": 1,
        "width": 4,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "4dd094ed35e84f58"
            ]
        ]
    },
    {
        "id": "327b8f73269fc0bb",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "7 ngày trước",
        "label": "7 ngày trước",
        "order": 2,
        "width": 4,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "b5053687d089c37e"
            ]
        ]
    },
    {
        "id": "ef3b48b950203b72",
        "type": "ui-gauge",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Ô nhiễm không khí",
        "group": "64d71bebcf6f8b62",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "2000",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "5000",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "50000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1070,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "76ec6f69119b1a58",
        "type": "mqtt in",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Nhận PPM",
        "topic": "/air-quality",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fd3e637a69e1bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "ee95f23f3dfe639d"
            ]
        ]
    },
    {
        "id": "35a485afa8ec65fb",
        "type": "mqtt in",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Nhận độ ẩm từ ESP",
        "topic": "/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fd3e637a69e1bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "1174446e55ea9f34"
            ]
        ]
    },
    {
        "id": "5ed0e547b60d2bc7",
        "type": "mqtt in",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Nhận nhiệt độ từ ESP",
        "topic": "/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fd3e637a69e1bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "192dfa06dad88a3d"
            ]
        ]
    },
    {
        "id": "192dfa06dad88a3d",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Xử lý input nhiệt độ",
        "func": "msg.payload = Math.round(Number(msg.payload) * 10) / 10;\nmsg.topic = \"temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 640,
        "wires": [
            [
                "8117a17056070da5",
                "9296a1b328029d24"
            ]
        ]
    },
    {
        "id": "8117a17056070da5",
        "type": "ui-gauge",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Nhiệt độ",
        "group": "092149a7f0fa9556",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Nhiệt độ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cb8d6",
                "text": "",
                "textType": "value"
            },
            {
                "from": "25",
                "color": "#d4ff00",
                "text": "",
                "textType": "value"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "0",
        "max": "80",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1040,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "83ac382ff9c5a26c",
        "type": "ui-gauge",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Độ ẩm",
        "group": "482dcb756e638c92",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Độ ẩm",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#e7e00d",
                "text": "",
                "textType": "value"
            },
            {
                "from": "50",
                "color": "#16d044",
                "text": "",
                "textType": "value"
            },
            {
                "from": "75",
                "color": "#53bcea",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1030,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "57e100d334dda3b1",
        "type": "inject",
        "z": "5361893b0ad914fd",
        "d": true,
        "g": "d33f130668225540",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "3a3b77e4ba449c7a",
                "e667e9ac284c331c",
                "f003dd2be739784f"
            ]
        ]
    },
    {
        "id": "9296a1b328029d24",
        "type": "join",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Merge dữ liệu",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1060,
        "y": 480,
        "wires": [
            [
                "3d8c8d1e032f683e",
                "926292aff13aaabd"
            ]
        ]
    },
    {
        "id": "3d8c8d1e032f683e",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Xử lý data trước khi PUSH",
        "func": "const now = new Date();\nconst padding = (n) => (n < 10 ? '0' + n : n);\n\nconst INTERVAL = 300; // 5-minute interval\n\nlet count = flow.get(\"count\") || 0;\nlet sumTemp = flow.get(\"sumTemp\") || 0;\nlet sumHumid = flow.get(\"sumHumid\") || 0;\nlet sumPpm = flow.get(\"sumPpm\") || 0;\n\nlet curTemp = parseFloat(msg.payload.temperature);\nlet curHumid = parseFloat(msg.payload.humidity);\nlet curPpm = parseFloat(msg.payload.ppm);\n\nif (!isNaN(curTemp) && !isNaN(curHumid) && !isNaN(curPpm)) {\n  sumTemp += curTemp;\n  sumHumid += curHumid;\n  sumPpm += curPpm;\n  count++;\n}\n\nif (count >= INTERVAL) {\n  let avgTemp = parseFloat((sumTemp / count).toFixed(1));\n  let avgHumid = parseFloat((sumHumid / count).toFixed(1));\n  let avgPpm = parseFloat((sumPpm / count).toFixed(1));\n\n\n  flow.set(\"count\", 0);\n  flow.set(\"sumTemp\", 0);\n  flow.set(\"sumHumid\", 0);\n  flow.set(\"sumPpm\", 0);\n\n  let time = now.getFullYear() + '-' +\n    padding(now.getMonth() + 1) + '-' +\n    padding(now.getDate()) + ' ' +\n    padding(now.getHours()) + ':' +\n    padding(now.getMinutes()) + ':' +\n    padding(now.getSeconds());\n\n  msg.payload = {\n    temperature: avgTemp,\n    humidity: avgHumid,\n    ppm: avgPpm,\n    timestamp: time\n  };\n\n  msg.topic = \"SensorData\";\n\n  return msg;\n} else {\n  flow.set(\"count\", count);\n  flow.set(\"sumTemp\", sumTemp);\n  flow.set(\"sumHumid\", sumHumid);\n  flow.set(\"sumPpm\", sumPpm);\n\n  return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 420,
        "wires": [
            [
                "6faffd3bb3106e88",
                "6517643c68bb1535"
            ]
        ]
    },
    {
        "id": "14933a61e10ada34",
        "type": "debug",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Data trả về (7 ngày)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4dd094ed35e84f58",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Tạo request 1 ngày",
        "func": "function getPastDatetime(hoursAgo) {\n    const date = new Date();\n    // Subtract hours instead of days\n    date.setHours(date.getHours() - hoursAgo);\n\n    const padding = (n) => (n < 10 ? '0' + n : n);\n\n    let time = date.getFullYear() + '-' +\n        padding(date.getMonth() + 1) + '-' +\n        padding(date.getDate()) + ' ' +\n        padding(date.getHours()) + ':' +\n        padding(date.getMinutes()) + ':' +\n        padding(date.getSeconds());\n\n    return time;\n}\n\nmsg.topic = \"SensorData\";\nmsg.start = getPastDatetime(23);\nmsg.end = getPastDatetime(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "01c5237ca0a96824"
            ]
        ]
    },
    {
        "id": "6faffd3bb3106e88",
        "type": "firebase-out",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Push Data",
        "database": "firebase-db-001",
        "path": "topic",
        "pathType": "msg",
        "priority": "1",
        "queryType": "push",
        "x": 1590,
        "y": 380,
        "wires": []
    },
    {
        "id": "b5053687d089c37e",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Tạo request 7 ngày",
        "func": "function getPastDatetime(daysAgo) {\n    const date = new Date();\n    date.setDate(date.getDate() - daysAgo);\n\n    const padding = (n) => (n < 10 ? '0' + n : n);\n\n    let time = date.getFullYear() + '-' +\n        padding(date.getMonth() + 1) + '-' +\n        padding(date.getDate()) + ' ' +\n        padding(date.getHours()) + ':' +\n        padding(date.getMinutes()) + ':' +\n        padding(date.getSeconds());\n\n    return time;\n}\n\nmsg.topic = \"SensorData\";\n\nmsg.start = getPastDatetime(7);\nmsg.end = getPastDatetime(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1180,
        "wires": [
            [
                "61df43a98dcf138c"
            ]
        ]
    },
    {
        "id": "829fefc391830452",
        "type": "debug",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Data trả về (1 ngày)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 960,
        "wires": []
    },
    {
        "id": "f65f71a4c6760edd",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Xử lý output",
        "func": "let rawData = msg.payload;\n\nlet hourlyGroups = [];\n\nif (rawData) {\n    Object.values(rawData).forEach(item => {\n        let time = new Date(item.timestamp);\n        \n        if (!isNaN(time)) {\n            time.setMinutes(0, 0, 0);\n            const hourKey = time.getHours() + \":00\";\n\n            if (!hourlyGroups[hourKey]) {\n                hourlyGroups[hourKey] = {\n                    temp: 0,\n                    humid: 0,\n                    ppm: 0,\n                    count: 0\n                };\n            }\n\n            hourlyGroups[hourKey].temp += item.temperature || 0;\n            hourlyGroups[hourKey].humid += item.humidity || 0;\n            hourlyGroups[hourKey].ppm += item.ppm || 0;\n            hourlyGroups[hourKey].count++;\n        }\n    });\n}\n\nlet tempData = [];\nlet humidData = [];\nlet ppmData = [];\n\nObject.keys(hourlyGroups).forEach(key => {\n    const group = hourlyGroups[key];\n\n    if (group.count > 0) {\n        const avgTemp = parseFloat((group.temp / group.count).toFixed(1));\n        const avgHumid = parseFloat((group.humid / group.count).toFixed(1));\n        const avgPpm = Math.round(group.ppm / group.count);\n\n        tempData.push({x: key, y: avgTemp});\n        humidData.push({x: key, y: avgHumid});\n        ppmData.push({x: key, y: avgPpm});\n    }\n});\n\nconst sortDatetime = (a, b) => a.x - b.x;\ntempData.sort(sortDatetime);\nhumidData.sort(sortDatetime);\nppmData.sort(sortDatetime);\n\nconst msgTemp = {payload: tempData, topic: \"Nhiệt độ\"};\nconst msgHumid = {payload: humidData, topic: \"Độ ẩm\"};\nconst msgPPM = {payload: ppmData, topic: \"PPM\"};\n\nreturn [msgTemp, msgHumid, msgPPM];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1040,
        "wires": [
            [
                "782c0f018d062e71"
            ],
            [
                "7cc415b91dd6d4a7"
            ],
            [
                "936f729d3d33dfa1"
            ]
        ]
    },
    {
        "id": "782c0f018d062e71",
        "type": "ui-chart",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "dbab7f5bbb37e7c1",
        "name": "Biểu đồ nhiệt độ",
        "label": "Biểu đồ nhiệt độ",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Thời gian",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Nhiiệt độ (ºC)",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "24",
        "colors": [
            "#ff6384",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 12,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1740,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6517643c68bb1535",
        "type": "debug",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Push Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "7cc415b91dd6d4a7",
        "type": "ui-chart",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "dbab7f5bbb37e7c1",
        "name": "Biểu đồ độ ẩm",
        "label": "Biểu đồ độ ẩm",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Thời gian",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Độ ẩm (%)",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "24",
        "colors": [
            "#4bc0c0",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 12,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1740,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "936f729d3d33dfa1",
        "type": "ui-chart",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "dbab7f5bbb37e7c1",
        "name": "Biểu đồ ô nhiễm không khí",
        "label": "Biểu đồ chất lượng không khí",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Thời gian",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Chất lượng không khí (ppm)",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "86400",
        "removeOlderPoints": "24",
        "colors": [
            "#ba9368",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 12,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1780,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "d61f0bb62ab0d1bf",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "15 ngày trước",
        "label": "15 ngày trước",
        "order": 3,
        "width": 4,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 340,
        "y": 1360,
        "wires": [
            [
                "9ff3f89215d6dd8e"
            ]
        ]
    },
    {
        "id": "ec0a261b3f253bc4",
        "type": "debug",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Data trả về (15 ngày)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1320,
        "wires": []
    },
    {
        "id": "9ff3f89215d6dd8e",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Tạo request 15 ngày",
        "func": "function getPastDatetime(daysAgo) {\n    const date = new Date();\n    date.setDate(date.getDate() - daysAgo);\n\n    const padding = (n) => (n < 10 ? '0' + n : n);\n\n    let time = date.getFullYear() + '-' +\n        padding(date.getMonth() + 1) + '-' +\n        padding(date.getDate()) + ' ' +\n        padding(date.getHours()) + ':' +\n        padding(date.getMinutes()) + ':' +\n        padding(date.getSeconds());\n\n    return time;\n}\n\nmsg.topic = \"SensorData\";\n\nmsg.start = getPastDatetime(15);\nmsg.end = getPastDatetime(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1360,
        "wires": [
            [
                "df7b9b4e8b069c63"
            ]
        ]
    },
    {
        "id": "2abab3c41ca4e2da",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Xử lý output",
        "func": "let rawData = msg.payload;\n\nlet dailyGroups = [];\n\nif (rawData) {\n    Object.values(rawData).forEach(item => {\n        let time = new Date(item.timestamp);\n        \n        if (!isNaN(time)) {\n            const year = time.getFullYear();\n            const month = String(time.getMonth() + 1).padStart(2, '0');\n            const day = String(time.getDate()).padStart(2, '0');\n\n            const dayKey = `${year}-${month}-${day}`;\n\n            if (!dailyGroups[dayKey]) {\n                dailyGroups[dayKey] = {\n                    temp: 0,\n                    humid: 0,\n                    ppm: 0,\n                    count: 0\n                };\n            }\n\n            dailyGroups[dayKey].temp += item.temperature || 0;\n            dailyGroups[dayKey].humid += item.humidity || 0;\n            dailyGroups[dayKey].ppm += item.ppm || 0;\n            dailyGroups[dayKey].count++;\n        }\n    });\n}\n\nlet tempData = [];\nlet humidData = [];\nlet ppmData = [];\n\nObject.keys(dailyGroups).forEach(key => {\n    const group = dailyGroups[key];\n\n    if (group.count > 0) {\n        const avgTemp = parseFloat((group.temp / group.count).toFixed(1));\n        const avgHumid = parseFloat((group.humid / group.count).toFixed(1));\n        const avgPpm = Math.round(group.ppm / group.count);\n\n        tempData.push({x: key, y: avgTemp});\n        humidData.push({x: key, y: avgHumid});\n        ppmData.push({x: key, y: avgPpm});\n    }\n});\n\nconst sortDatetime = (a, b) => a.x.localeCompare(b.x);\ntempData.sort(sortDatetime);\nhumidData.sort(sortDatetime);\nppmData.sort(sortDatetime);\n\nconst msgTemp = { payload: tempData, topic: \"Nhiệt độ\" };\nconst msgHumid = { payload: humidData, topic: \"Độ ẩm\" };\nconst msgPPM = { payload: ppmData, topic: \"PPM\" };\n\nreturn [msgTemp, msgHumid, msgPPM];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1220,
        "wires": [
            [
                "782c0f018d062e71"
            ],
            [
                "7cc415b91dd6d4a7"
            ],
            [
                "936f729d3d33dfa1"
            ]
        ]
    },
    {
        "id": "8a5f51287c508970",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Xử lý output",
        "func": "let rawData = msg.payload;\n\nlet dailyGroups = [];\n\nif (rawData) {\n    Object.values(rawData).forEach(item => {\n        let time = new Date(item.timestamp);\n        \n        if (!isNaN(time)) {\n            const year = time.getFullYear();\n            const month = String(time.getMonth() + 1).padStart(2, '0');\n            const day = String(time.getDate()).padStart(2, '0');\n\n            const dayKey = `${year}-${month}-${day}`;\n\n            if (!dailyGroups[dayKey]) {\n                dailyGroups[dayKey] = {\n                    temp: 0,\n                    humid: 0,\n                    ppm: 0,\n                    count: 0\n                };\n            }\n\n            dailyGroups[dayKey].temp += item.temperature || 0;\n            dailyGroups[dayKey].humid += item.humidity || 0;\n            dailyGroups[dayKey].ppm += item.ppm || 0;\n            dailyGroups[dayKey].count++;\n        }\n    });\n}\n\nlet tempData = [];\nlet humidData = [];\nlet ppmData = [];\n\nObject.keys(dailyGroups).forEach(key => {\n    const group = dailyGroups[key];\n\n    if (group.count > 0) {\n        const avgTemp = parseFloat((group.temp / group.count).toFixed(1));\n        const avgHumid = parseFloat((group.humid / group.count).toFixed(1));\n        const avgPpm = Math.round(group.ppm / group.count);\n\n        tempData.push({x: key, y: avgTemp});\n        humidData.push({x: key, y: avgHumid});\n        ppmData.push({x: key, y: avgPpm});\n    }\n});\n\nconst sortDatetime = (a, b) => a.x.localeCompare(b.x);\ntempData.sort(sortDatetime);\nhumidData.sort(sortDatetime);\nppmData.sort(sortDatetime);\n\nconst msgTemp = {payload: tempData, topic: \"Nhiệt độ\"};\nconst msgHumid = {payload: humidData, topic: \"Độ ẩm\"};\nconst msgPPM = {payload: ppmData, topic: \"PPM\"};\n\nreturn [msgTemp, msgHumid, msgPPM];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1400,
        "wires": [
            [
                "782c0f018d062e71"
            ],
            [
                "7cc415b91dd6d4a7"
            ],
            [
                "936f729d3d33dfa1"
            ]
        ]
    },
    {
        "id": "1174446e55ea9f34",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Xử lý input độ ẩm",
        "func": "msg.payload = Math.round(Number(msg.payload) * 10) / 10;\nmsg.topic = \"humidity\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 700,
        "wires": [
            [
                "83ac382ff9c5a26c",
                "9296a1b328029d24"
            ]
        ]
    },
    {
        "id": "ee95f23f3dfe639d",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Xử lý input CLKK",
        "func": "msg.payload = Math.round(Number(msg.payload) * 10) / 10;\nmsg.topic = \"ppm\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 760,
        "wires": [
            [
                "ef3b48b950203b72",
                "9296a1b328029d24"
            ]
        ]
    },
    {
        "id": "3a3b77e4ba449c7a",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Tạo MockData",
        "func": "msg.payload = Math.round(Math.random() * 100) % 71 + 10;\nmsg.topic = \"temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 420,
        "wires": [
            [
                "9296a1b328029d24",
                "8117a17056070da5"
            ]
        ]
    },
    {
        "id": "e667e9ac284c331c",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Tạo MockData",
        "func": "msg.payload = Math.round(Math.random() * 100) % 100 + 1;\nmsg.topic = \"humidity\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "9296a1b328029d24",
                "83ac382ff9c5a26c"
            ]
        ]
    },
    {
        "id": "f003dd2be739784f",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Tạo MockData",
        "func": "msg.payload = Math.round(Math.random() * 10000) % 3900 + 100;\nmsg.topic = \"ppm\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "9296a1b328029d24",
                "ef3b48b950203b72"
            ]
        ]
    },
    {
        "id": "bef5940468552e80",
        "type": "firebase-out",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Push Data",
        "database": "firebase-db-001",
        "path": "topic",
        "pathType": "msg",
        "priority": "1",
        "queryType": "push",
        "x": 1590,
        "y": 540,
        "wires": []
    },
    {
        "id": "926292aff13aaabd",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "d33f130668225540",
        "name": "Push dữ liệu huấn luyện model",
        "func": "const now = new Date();\nconst padding = (n) => (n < 10 ? '0' + n : n);\n\nlet curTemp = parseFloat(msg.payload.temperature.toFixed(1));\nlet curHumid = parseFloat(msg.payload.humidity.toFixed(1));\nlet curPpm = parseFloat(msg.payload.ppm.toFixed(1));\n\nlet time = now.getFullYear() + '-' +\n  padding(now.getMonth() + 1) + '-' +\n  padding(now.getDate()) + ' ' +\n  padding(now.getHours()) + ':' +\n  padding(now.getMinutes()) + ':' +\n  padding(now.getSeconds());\n\nmsg.payload = {\n  temperature: curTemp,\n  humidity: curHumid,\n  ppm: curPpm,\n  timestamp: time\n};\n\nmsg.topic = \"TrainingData\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 540,
        "wires": [
            [
                "bef5940468552e80"
            ]
        ]
    },
    {
        "id": "01c5237ca0a96824",
        "type": "firebase-get",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Lấy data 1 ngày",
        "constraints": {
            "orderByChild": {
                "value": "timestamp",
                "type": "str"
            },
            "startAt": {
                "value": "start",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            },
            "endAt": {
                "value": "end",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            }
        },
        "database": "firebase-db-001",
        "outputType": "auto",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraints": true,
        "x": 1000,
        "y": 1000,
        "wires": [
            [
                "829fefc391830452",
                "f65f71a4c6760edd"
            ]
        ]
    },
    {
        "id": "61df43a98dcf138c",
        "type": "firebase-get",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Lấy data 7 ngày",
        "constraints": {
            "orderByChild": {
                "value": "timestamp",
                "type": "str"
            },
            "startAt": {
                "value": "start",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            },
            "endAt": {
                "value": "end",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            }
        },
        "database": "firebase-db-001",
        "outputType": "auto",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraints": true,
        "x": 1000,
        "y": 1180,
        "wires": [
            [
                "14933a61e10ada34",
                "2abab3c41ca4e2da"
            ]
        ]
    },
    {
        "id": "df7b9b4e8b069c63",
        "type": "firebase-get",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "name": "Lấy data 15 ngày",
        "constraints": {
            "orderByChild": {
                "value": "timestamp",
                "type": "str"
            },
            "startAt": {
                "value": "start",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            },
            "endAt": {
                "value": "end",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            }
        },
        "database": "firebase-db-001",
        "outputType": "auto",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraints": true,
        "x": 990,
        "y": 1360,
        "wires": [
            [
                "ec0a261b3f253bc4",
                "8a5f51287c508970"
            ]
        ]
    },
    {
        "id": "a1e623bae7993350",
        "type": "ui-switch",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Bật / tắt gửi biểu đồ hằng tuần qua mail",
        "label": "Bật / tắt gửi biểu đồ hàng tuần về mail",
        "group": "4746d28b14b75f3f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "aa58d26967f8e4b5"
            ]
        ]
    },
    {
        "id": "671273b8bcbb3f90",
        "type": "ui-text",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "group": "4746d28b14b75f3f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Bật / Tắt thông báo",
        "label": "Bật / Tắt thông báo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "6179d77dc152870d",
        "type": "e-mail",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Gửi email",
        "x": 1380,
        "y": 340,
        "wires": []
    },
    {
        "id": "f71abe1c39520ab2",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Tạo biểu đồ",
        "func": "let enabled = flow.get(\"isEmailEnabled\") || false;\n\nif (enabled == true) {\n    const labels = msg.payload.date;\n    const tempData = msg.payload.tempData;\n    const humidData = msg.payload.humidData;\n    const ppmData = msg.payload.ppmData;\n    \n    console.log(labels);\n    console.log(tempData);\n\n    const tempChartConfig = {\n        type: 'line',\n        data: {\n            labels: labels,\n            datasets: [{\n                label: \"Nhiệt độ (°C)\",\n                data: tempData,\n                backgroundColor: 'rgb(255, 99, 132)',\n                borderColor: 'rgb(255, 99, 132)',\n                fill: false\n            }]\n        },\n        options: {\n            title: {\n                display: true,\n                text: \"Biểu đồ nhiệt độ\",\n                fontSize: 18\n            },\n            legend: {\n                display: true\n            }\n        }\n    };\n\n    const humidChartConfig = {\n        type: 'line',\n        data: {\n            labels: labels,\n            datasets: [{\n                label: \"Độ ẩm (%)\",\n                data: humidData,\n                backgroundColor: 'rgb(75, 192, 192)',\n                borderColor: 'rgb(75, 192, 192)',\n                fill: false\n            }]\n        },\n        options: {\n            title: {\n                display: true,\n                text: \"Biểu đồ độ ẩm\",\n                fontSize: 18\n            },\n            legend: {\n                display: true\n            }\n        }\n    };\n\n    const ppmChartConfig = {\n        type: 'line',\n        data: {\n            labels: labels,\n            datasets: [{\n                label: \"Chất lượng không khí (ppm)\",\n                data: ppmData,\n                backgroundColor: 'rgb(186, 147, 104)',\n                borderColor: 'rgb(186, 147, 104)',\n                fill: false\n            }]\n        },\n        options: {\n            title: {\n                display: true,\n                text: \"Biểu đồ chất lượng không khí\",\n                fontSize: 18\n            },\n            legend: {\n                display: true\n            }\n        }\n    };\n\n    const tempChartUrl = `https://quickchart.io/chart?width=800&height=450&c=${encodeURIComponent(JSON.stringify(tempChartConfig))}`;\n    const humidChartUrl = `https://quickchart.io/chart?width=800&height=450&c=${encodeURIComponent(JSON.stringify(humidChartConfig))}`;\n    const ppmChartUrl = `https://quickchart.io/chart?width=800&height=450&c=${encodeURIComponent(JSON.stringify(ppmChartConfig))}`;\n\n    msg.topic = \"[AlarmClock][Report]\";\n    msg.to = flow.get(\"email\");\n\n    msg.payload = `\n        <div style=\"font-family: Arial, sans-serif; text-align: center;\">\n            <h2 style=\"color: #007bff;\">Thống kê dữ liệu hàng tuần</h2>\n            <hr style=\"border: 0; border-top: 1px solid #ddd; margin: 20px 0;\">\n            \n            <img src=\"${tempChartUrl}\" alt=\"Temperature Chart\" style=\"max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px; border-radius: 5px;\">\n            <img src=\"${humidChartUrl}\" alt=\"Temperature Chart\" style=\"max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px; border-radius: 5px;\">\n            <img src=\"${ppmChartUrl}\" alt=\"Temperature Chart\" style=\"max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px; border-radius: 5px;\">\n        </div>\n    `;\n\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "6179d77dc152870d"
            ]
        ]
    },
    {
        "id": "48bb3136db1227e1",
        "type": "inject",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Gửi 1 lần / tuần",
        "props": [],
        "repeat": "604800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "1ceee9c022639772"
            ]
        ]
    },
    {
        "id": "2a5bb3548f294394",
        "type": "ui-text-input",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "group": "4746d28b14b75f3f",
        "name": "Nhập Email",
        "label": "Email",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "email",
        "tooltip": "",
        "delay": 300,
        "passthru": false,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "d6c54bad3fff57b8"
            ]
        ]
    },
    {
        "id": "d6c54bad3fff57b8",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Lưu địa chỉ Email",
        "func": "let email = msg.payload;\n\nflow.set(\"email\", email)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ceee9c022639772",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Tạo request 7 ngày",
        "func": "function getPastDatetime(daysAgo) {\n    const date = new Date();\n    date.setDate(date.getDate() - daysAgo);\n\n    const padding = (n) => (n < 10 ? '0' + n : n);\n\n    let time = date.getFullYear() + '-' +\n        padding(date.getMonth() + 1) + '-' +\n        padding(date.getDate()) + ' ' +\n        padding(date.getHours()) + ':' +\n        padding(date.getMinutes()) + ':' +\n        padding(date.getSeconds());\n\n    return time;\n}\n\nmsg.topic = \"SensorData\";\n\nmsg.start = getPastDatetime(7);\nmsg.end = getPastDatetime(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 380,
        "wires": [
            [
                "0051deb2172e0474"
            ]
        ]
    },
    {
        "id": "3cd3fa99991b26bc",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Xử lý output",
        "func": "let rawData = msg.payload;\n\nlet dailyGroups = [];\n\nif (rawData) {\n    Object.values(rawData).forEach(item => {\n        let time = new Date(item.timestamp);\n        \n        if (!isNaN(time)) {\n            const year = time.getFullYear();\n            const month = String(time.getMonth() + 1).padStart(2, '0');\n            const day = String(time.getDate()).padStart(2, '0');\n\n            const dayKey = `${year}-${month}-${day}`;\n\n            if (!dailyGroups[dayKey]) {\n                dailyGroups[dayKey] = {\n                    temp: 0,\n                    humid: 0,\n                    ppm: 0,\n                    count: 0\n                };\n            }\n\n            dailyGroups[dayKey].temp += item.temperature || 0;\n            dailyGroups[dayKey].humid += item.humidity || 0;\n            dailyGroups[dayKey].ppm += item.ppm || 0;\n            dailyGroups[dayKey].count++;\n        }\n    });\n}\n\nlet date = []\nlet tempData = [];\nlet humidData = [];\nlet ppmData = [];\n\nObject.keys(dailyGroups).forEach(key => {\n    const group = dailyGroups[key];\n\n    if (group.count > 0) {\n        const avgTemp = parseFloat((group.temp / group.count).toFixed(1));\n        const avgHumid = parseFloat((group.humid / group.count).toFixed(1));\n        const avgPpm = Math.round(group.ppm / group.count);\n\n        date.push(key);\n        tempData.push(avgTemp);\n        humidData.push(avgHumid);\n        ppmData.push(avgPpm);\n    }\n});\n\nmsg.payload = {\n    \"date\": date,\n    \"tempData\": tempData,\n    \"humidData\": humidData,\n    \"ppmData\": ppmData\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 340,
        "wires": [
            [
                "f71abe1c39520ab2"
            ]
        ]
    },
    {
        "id": "88a7b857dfff843f",
        "type": "debug",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Data trả về (7 ngày)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "aa58d26967f8e4b5",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Bật / tắt gửi mail",
        "func": "flow.set(\"isEmailEnabled\", msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c489daa54c87e06d",
        "type": "join",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Merge dữ liệu",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 840,
        "y": 660,
        "wires": [
            [
                "21e171431b8f67fd"
            ]
        ]
    },
    {
        "id": "13f659205562d45d",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Xử lý input nhiệt độ",
        "func": "msg.payload = Math.round(Number(msg.payload) * 10) / 10;\nmsg.topic = \"temperature\";\nflow.set(\"temp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 700,
        "wires": [
            [
                "c489daa54c87e06d"
            ]
        ]
    },
    {
        "id": "eec714a992c68ebb",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Xử lý input độ ẩm",
        "func": "msg.payload = Math.round(Number(msg.payload) * 10) / 10;\nmsg.topic = \"humidity\";\nflow.set(\"humid\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "c489daa54c87e06d"
            ]
        ]
    },
    {
        "id": "84e7dc2d29efb286",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Xử lý input CLKK",
        "func": "msg.payload = Math.round(Number(msg.payload) * 10) / 10;\nmsg.topic = \"ppm\";\nflow.set(\"ppm\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 820,
        "wires": [
            [
                "c489daa54c87e06d"
            ]
        ]
    },
    {
        "id": "6856b07def5f27a8",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Tạo MockData",
        "func": "msg.payload = Math.round(Math.random() * 100) % 71 + 10;\nmsg.topic = \"temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 500,
        "wires": [
            [
                "c489daa54c87e06d"
            ]
        ]
    },
    {
        "id": "5c1b96fc331f9721",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Tạo MockData",
        "func": "msg.payload = Math.round(Math.random() * 100) % 100 + 1;\nmsg.topic = \"humidity\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "c489daa54c87e06d"
            ]
        ]
    },
    {
        "id": "8ad4507f435ebd46",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Tạo MockData",
        "func": "msg.payload = Math.round(Math.random() * 10000) % 3900 + 100;\nmsg.topic = \"ppm\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "c489daa54c87e06d"
            ]
        ]
    },
    {
        "id": "21e171431b8f67fd",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Tạo đường dẫn đến file model",
        "func": "let temp = msg.payload.temperature;\nlet humid = msg.payload.humidity;\nlet ppm = msg.payload.ppm;\n\nmsg.payload = `python C:/Users/daokh/.node-red/main.py --temp ${temp} --humid ${humid} --ppm ${ppm}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 660,
        "wires": [
            [
                "db5405884dd07f27"
            ]
        ]
    },
    {
        "id": "bb0587699b190ab8",
        "type": "mqtt in",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Nhận nhiệt độ từ ESP",
        "topic": "/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fd3e637a69e1bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "13f659205562d45d"
            ]
        ]
    },
    {
        "id": "9ae3c2c1353f7820",
        "type": "mqtt in",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Nhận độ ẩm từ ESP",
        "topic": "/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fd3e637a69e1bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "eec714a992c68ebb"
            ]
        ]
    },
    {
        "id": "b557fd796533d4fe",
        "type": "mqtt in",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Nhận PPM",
        "topic": "/air-quality",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fd3e637a69e1bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 820,
        "wires": [
            [
                "84e7dc2d29efb286"
            ]
        ]
    },
    {
        "id": "37e4be2427925706",
        "type": "inject",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "6856b07def5f27a8",
                "5c1b96fc331f9721",
                "8ad4507f435ebd46"
            ]
        ]
    },
    {
        "id": "db5405884dd07f27",
        "type": "exec",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Chạy Model",
        "x": 1430,
        "y": 660,
        "wires": [
            [
                "0b6ec3585b9aafcd"
            ],
            [],
            []
        ]
    },
    {
        "id": "0b6ec3585b9aafcd",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Xử lý output",
        "func": "if(msg.payload == '1') msg.payload = true;\nelse msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 660,
        "wires": [
            [
                "4c2b259fe24955ec",
                "67014cc0286801ad",
                "6e49d4805c5c24b6"
            ]
        ]
    },
    {
        "id": "4c2b259fe24955ec",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Xử lý dữ liệu gửi lên MongoDB",
        "func": "if (msg.payload == true && flow.get(\"isEnabled\") == true) {\n    let now = new Date();\n    let temp = flow.get(\"temp\");\n    let humid = flow.get(\"humid\");\n    let ppm = flow.get(\"ppm\");\n    const padding = (n) => (n < 10 ? '0' + n : n);\n\n    let time = padding(now.getDate()) + '-' +\n        padding(now.getMonth() + 1) + '-' +\n        now.getFullYear() + ' ' +\n        padding(now.getHours()) + ':' +\n        padding(now.getMinutes()) + ':' +\n        padding(now.getSeconds());\n\n    msg.payload = {\n        \"temp\": temp,\n        \"humid\": humid,\n        \"ppm\": ppm,\n        \"timestamp\": time\n    }\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 660,
        "wires": [
            [
                "91a698321061e29e"
            ]
        ]
    },
    {
        "id": "6e49d4805c5c24b6",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Chuẩn bị message",
        "func": "let isEnabled = flow.get(\"isEnabled\");\n\nlet count = flow.get(\"count\") || 0;\nconst INTERVAL = 5; // 5 seconds\n\nif (isEnabled == true && msg.payload == true) {\n    count++;\n    if (count >= INTERVAL) {\n        msg.payload = \"Khu vực xung quanh bạn có thể gây ảnh hưởng đến sức khỏe!\";\n        flow.set(\"count\", 0);\n        return msg;\n    } else {\n        flow.set(\"count\", count);\n    }\n} else {\n    flow.set(\"count\", 0);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 760,
        "wires": [
            [
                "e8d078f4520a62e4",
                "4a680f7eda5be290"
            ]
        ]
    },
    {
        "id": "91a698321061e29e",
        "type": "mongodb3 in",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "service": "_ext_",
        "configNode": "21c0276998492c37",
        "name": "Warning",
        "collection": "Warning",
        "operation": "insert",
        "x": 2320,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e8d078f4520a62e4",
        "type": "pushsafer",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Gửi thông báo",
        "apikey": "f70019707c99b17b",
        "notificationtemplate": "a7fde89723c47d40",
        "x": 2240,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4a680f7eda5be290",
        "type": "debug",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 720,
        "wires": []
    },
    {
        "id": "71928d8b6cd6f14b",
        "type": "function",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Bật / tắt gửi thông báo nhanh",
        "func": "flow.set(\"isEnabled\", msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0ccd443287ffd060",
        "type": "ui-switch",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "Bật / tắt gửi thông báo nhanh về điện thoại",
        "label": "Bật / tắt gửi cảnh báo ảnh hưởng sức khỏe về điện thoại",
        "group": "4746d28b14b75f3f",
        "order": 5,
        "width": 6,
        "height": "2",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "71928d8b6cd6f14b"
            ]
        ]
    },
    {
        "id": "67014cc0286801ad",
        "type": "debug",
        "z": "8f75652ffe66e2ab",
        "g": "4d26122ffeaa5708",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1940,
        "y": 560,
        "wires": []
    },
    {
        "id": "82dd0dfd75b5d83a",
        "type": "ui-button",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "group": "4746d28b14b75f3f",
        "name": "Demo Button",
        "label": "Gửi biểu đồ",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "1ceee9c022639772"
            ]
        ]
    },
    {
        "id": "0051deb2172e0474",
        "type": "firebase-get",
        "z": "8f75652ffe66e2ab",
        "g": "b26bfad05d684415",
        "name": "Lấy data 7 ngày",
        "constraints": {
            "orderByChild": {
                "value": "timestamp",
                "type": "str"
            },
            "startAt": {
                "value": "start",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            },
            "endAt": {
                "value": "end",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            }
        },
        "database": "firebase-db-001",
        "outputType": "auto",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraints": true,
        "x": 720,
        "y": 380,
        "wires": [
            [
                "88a7b857dfff843f",
                "3cd3fa99991b26bc"
            ]
        ]
    },
    {
        "id": "740783fff5e16e34",
        "type": "ui-template",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "group": "",
        "page": "2f9a932f92635c2d",
        "ui": "",
        "name": "Đăng nhập",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"center-wrapper\">\n    <div v-if=\"showLogin\" class=\"auth-card\">\n      <div class=\"title\">Đăng nhập</div>\n      <v-text-field v-model=\"login.username\" label=\"Tài khoản\" outlined dense></v-text-field>\n      <v-text-field v-model=\"login.password\" label=\"Mật khẩu\" type=\"password\" outlined dense></v-text-field>\n      <v-btn color=\"primary\" block @click=\"doLogin\">Đăng nhập</v-btn>\n      <div class=\"link\">\n        Chưa có tài khoản?\n        <span class=\"register-link\" @click=\"showLogin = false\">Đăng ký</span>\n      </div>\n    </div>\n\n    <div v-else class=\"auth-card\">\n      <div class=\"title\">Đăng ký</div>\n      <v-text-field v-model=\"register.username\" label=\"Tài khoản\" outlined dense></v-text-field>\n      <v-text-field v-model=\"register.password\" label=\"Mật khẩu\" type=\"password\" outlined dense></v-text-field>\n      <v-btn color=\"primary\" block @click=\"doRegister\">Đăng ký</v-btn>\n      <div class=\"link\">\n        Đã có tài khoản?\n        <span class=\"register-link\" @click=\"showLogin = true\">Đăng nhập</span>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      showLogin: true,\n      login: { username: \"\", password: \"\" },\n      register: { username: \"\", password: \"\" }\n    }\n  },\n  methods: {\n    doLogin() {\n      this.send({ \n        payload: \"login\", \n        username: this.login.username, \n        password: this.login.password \n      })\n      // Optional: reset form\n      this.login.username = \"\"\n      this.login.password = \"\"\n    },\n    doRegister() {\n      this.send({ \n        payload: \"register\", \n        username: this.register.username, \n        password: this.register.password \n      })\n      this.register.username = \"\"\n      this.register.password = \"\"\n    }\n  }\n}\n</script>\n\n<style scoped>\n  .center-wrapper {\n    width: 100wh;\n    height: 100vh;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    background: #f5f7fb;\n    font-family: Arial, sans-serif;\n  }\n\n  .auth-card {\n    width: 360px;\n    background: white;\n    padding: 28px;\n    border-radius: 16px;\n    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.08);\n  }\n\n  .title {\n    text-align: center;\n    font-size: 26px;\n    font-weight: bold;\n    margin-bottom: 22px;\n  }\n\n  .link {\n    text-align: center;\n    margin-top: 14px;\n  }\n\n  .register-link {\n    color: #4A90E2;\n    cursor: pointer;\n    font-weight: 500;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "7c3d97f4f9cd8a36"
            ]
        ]
    },
    {
        "id": "7c3d97f4f9cd8a36",
        "type": "switch",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Đăng ký / đăng nhập",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "register",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 820,
        "wires": [
            [
                "2959ac2da1f60335"
            ],
            [
                "da49d1d09538ae25"
            ]
        ]
    },
    {
        "id": "994ad91d10d40dea",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Lấy username",
        "func": "msg.payload = {\n    username: msg.username,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 760,
        "wires": [
            [
                "e02bf079fff476d3"
            ]
        ]
    },
    {
        "id": "714b5feca4378ae8",
        "type": "switch",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Kiểm tra tài khoản tồn tại",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1550,
        "y": 760,
        "wires": [
            [
                "adcb5fb269e9a011"
            ],
            [
                "c3971c9f91f68815"
            ]
        ]
    },
    {
        "id": "adcb5fb269e9a011",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Lưu vào payload",
        "func": "global.set('username', msg.username);\nmsg.payload = {\n    \"username\": msg.username,\n    \"password\": msg.password\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 720,
        "wires": [
            [
                "bca197a9d8bb5e19"
            ]
        ]
    },
    {
        "id": "04748abb76187b80",
        "type": "switch",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Kiểm tra tài khoản tồn tại",
        "property": "match",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1850,
        "y": 900,
        "wires": [
            [
                "c3971c9f91f68815"
            ],
            [
                "0132379a843b95b6",
                "24a00f9f7a37dacd"
            ]
        ]
    },
    {
        "id": "0132379a843b95b6",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Điều hướng trang",
        "func": "msg.payload = \"Cài đặt\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2430,
        "y": 900,
        "wires": [
            [
                "a5969134d048c3e3"
            ]
        ]
    },
    {
        "id": "a5969134d048c3e3",
        "type": "ui-control",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "ui": "b11e759d6c66bd03",
        "events": "connect",
        "x": 2680,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "eb01a4d6b3e72a9b",
        "type": "ui-notification",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "ui": "b11e759d6c66bd03",
        "position": "top right",
        "colorDefault": false,
        "color": "#ff2600",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "",
        "allowConfirm": false,
        "confirmText": "Đăng nhập thất bại",
        "raw": false,
        "className": "",
        "name": "Thất bại",
        "x": 2160,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c3971c9f91f68815",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Đăng nhập thất bại",
        "func": "msg.payload = \"Thất bại\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 800,
        "wires": [
            [
                "eb01a4d6b3e72a9b"
            ]
        ]
    },
    {
        "id": "ad8eab03c3451555",
        "type": "ui-button",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "group": "d5693fb03c4bf0ce",
        "name": "Đăng xuất tài khoản",
        "label": "Đăng xuất tài khoản",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#ff0000",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 400,
        "y": 1140,
        "wires": [
            [
                "f6f9eceedf8a6754"
            ]
        ]
    },
    {
        "id": "f6f9eceedf8a6754",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Set rỗng account",
        "func": "global.set(\"username\", \"\");\nglobal.set(\"password\", \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1140,
        "wires": [
            [
                "e5330b289e8861b5"
            ]
        ]
    },
    {
        "id": "e5330b289e8861b5",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Điều hướng đến trang login",
        "func": "msg.payload = \"Đăng nhập / Đăng ký\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1140,
        "wires": [
            [
                "fa8a362fc1d83613"
            ]
        ]
    },
    {
        "id": "fa8a362fc1d83613",
        "type": "ui-control",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "ui": "b11e759d6c66bd03",
        "events": "connect",
        "x": 1180,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "24a00f9f7a37dacd",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Lưu username global",
        "func": "global.set('username', msg.payload.username);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "bca197a9d8bb5e19",
        "type": "mongodb3 in",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "service": "_ext_",
        "configNode": "21c0276998492c37",
        "name": "Thêm vào MongoDB",
        "collection": "auth",
        "operation": "insert",
        "x": 2160,
        "y": 720,
        "wires": [
            [
                "0132379a843b95b6"
            ]
        ]
    },
    {
        "id": "e02bf079fff476d3",
        "type": "mongodb3 in",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "service": "_ext_",
        "configNode": "21c0276998492c37",
        "name": "Kiểm tra tài khoản tồn tại",
        "collection": "auth",
        "operation": "findOne",
        "x": 1230,
        "y": 760,
        "wires": [
            [
                "714b5feca4378ae8"
            ]
        ]
    },
    {
        "id": "2959ac2da1f60335",
        "type": "bcrypt",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "So sánh mật khẩu",
        "action": "encrypt",
        "field": "password",
        "hash": "payload",
        "target": "payload",
        "assignment": "replace",
        "match": "match",
        "outputs": 1,
        "rounds": 10,
        "x": 690,
        "y": 760,
        "wires": [
            [
                "994ad91d10d40dea"
            ]
        ]
    },
    {
        "id": "5cb12c7460736766",
        "type": "bcrypt",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "So sánh mật khẩu",
        "action": "verify",
        "field": "password",
        "hash": "payload.password",
        "target": "payload",
        "assignment": "replace",
        "match": "match",
        "outputs": 1,
        "rounds": 10,
        "x": 1530,
        "y": 900,
        "wires": [
            [
                "04748abb76187b80"
            ]
        ]
    },
    {
        "id": "d3180f9931e72630",
        "type": "mongodb3 in",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "service": "_ext_",
        "configNode": "21c0276998492c37",
        "name": "Kiểm tra tài khoản tồn tại",
        "collection": "auth",
        "operation": "findOne",
        "x": 1230,
        "y": 900,
        "wires": [
            [
                "5cb12c7460736766"
            ]
        ]
    },
    {
        "id": "da49d1d09538ae25",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Lấy username",
        "func": "msg.payload = {\n    username: msg.username,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 900,
        "wires": [
            [
                "d3180f9931e72630"
            ]
        ]
    },
    {
        "id": "fea05cc45995fe6c",
        "type": "ui-template",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "group": "",
        "page": "9cb6dca61e409f37",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"display:none\"></div>\n</template>\n\n<script>\n  export default {\n  mounted() {\n    this.send({\n      payload: {\n        pages: {\n            show: ['Biểu đồ', 'Cài đặt'],\n            hide: ['2f9a932f92635c2d']\n        }\n      }\n    });\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 500,
        "y": 1440,
        "wires": [
            [
                "bfc19171d8a97d66",
                "14ae36a88b3cadf4"
            ]
        ]
    },
    {
        "id": "0b81fac01f2a27f0",
        "type": "ui-template",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "group": "",
        "page": "97317e5e69a3172f",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"display:none\"></div>\n</template>\n\n<script>\n  export default {\n  mounted() {\n    this.send({\n      payload: {\n        pages: {\n            show: ['Biểu đồ', 'Cài đặt'],\n            hide: ['2f9a932f92635c2d']\n        }\n      }\n    });\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 500,
        "y": 1520,
        "wires": [
            [
                "bfc19171d8a97d66",
                "14ae36a88b3cadf4"
            ]
        ]
    },
    {
        "id": "d74307166a2009e0",
        "type": "ui-template",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "group": "",
        "page": "2f9a932f92635c2d",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"display:none\"></div>\n</template>\n\n<script>\nexport default {\n  mounted() {\n    this.send({\n      payload: {\n        pages: {\n          hide: ['9cb6dca61e409f37', '97317e5e69a3172f'],\n          show: ['Đăng nhập / Đăng ký']\n        }\n      }\n    });\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "bfc19171d8a97d66",
                "40391be978b4af52"
            ]
        ]
    },
    {
        "id": "bfc19171d8a97d66",
        "type": "ui-control",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "ui": "b11e759d6c66bd03",
        "events": "connect",
        "x": 820,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "14ae36a88b3cadf4",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Điều hướng đến trang login",
        "func": "if(global.get(\"username\") == \"\"){\n    msg.payload = \"Đăng nhập / Đăng ký\";\n}else{\n    msg.payload = '';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1520,
        "wires": [
            [
                "4032c07e3bfbe622"
            ]
        ]
    },
    {
        "id": "22d20f212e7d8256",
        "type": "ui-control",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "ui": "b11e759d6c66bd03",
        "events": "connect",
        "x": 1340,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "40391be978b4af52",
        "type": "function",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "Điều hướng đến trang setting",
        "func": "if(global.get(\"username\") != \"\"){\n    msg.payload = \"Cài đặt\";\n}else{\n    msg.payload = '';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1360,
        "wires": [
            [
                "e136a25b3f5fb46d"
            ]
        ]
    },
    {
        "id": "d0e2e688246cc2d0",
        "type": "ui-control",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "ui": "b11e759d6c66bd03",
        "events": "connect",
        "x": 1340,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "e136a25b3f5fb46d",
        "type": "switch",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Cài đặt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 1360,
        "wires": [
            [
                "d0e2e688246cc2d0"
            ]
        ]
    },
    {
        "id": "4032c07e3bfbe622",
        "type": "switch",
        "z": "36e61081857065ba",
        "g": "14e3c4fc8d99d39c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Đăng nhập / Đăng ký",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 1520,
        "wires": [
            [
                "22d20f212e7d8256"
            ]
        ]
    },
    {
        "id": "1b5194a0b45bce06",
        "type": "ui-button",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "group": "4746d28b14b75f3f",
        "name": "Tần suất gửi dữ liệu của thiết bị",
        "label": "Tần suất gửi dữ liệu của thiết bị",
        "order": 10,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#a5a5a5",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "6dce5180b01a8846"
            ]
        ]
    },
    {
        "id": "9c970a392d85d1f7",
        "type": "ui-button",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "group": "4746d28b14b75f3f",
        "name": "Nhiệt độ cao nhất trong ngày hôm nay là bao nhiêu độ C",
        "label": "Nhiệt độ cao nhất trong ngày hôm nay là bao nhiêu",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#000000",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "125d0ee7adf51086"
            ]
        ]
    },
    {
        "id": "e1d58775185e6753",
        "type": "ui-text",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "group": "4746d28b14b75f3f",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Chatbot",
        "label": "Chatbot",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#ff0000",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 200,
        "y": 160,
        "wires": []
    },
    {
        "id": "6dce5180b01a8846",
        "type": "function",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "name": "function 9",
        "func": "msg.payload = \"Biểu đồ nhiệt độ, độ ẩm và ô nhiễm không khí cập nhật mỗi giây 1 lần.\\nGửi dữ liệu lên cloud là 5 phút 1 lần\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "108c0c8e24ea6f69"
            ]
        ]
    },
    {
        "id": "108c0c8e24ea6f69",
        "type": "ui-text",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "group": "4746d28b14b75f3f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1770,
        "y": 320,
        "wires": []
    },
    {
        "id": "125d0ee7adf51086",
        "type": "function",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "name": "Tạo request lấy dữ liệu trong ngày",
        "func": "function getPastDatetime(hoursAgo) {\n    const date = new Date();\n    // Subtract hours instead of days\n    date.setHours(date.getHours() - hoursAgo);\n\n    const padding = (n) => (n < 10 ? '0' + n : n);\n\n    let time = date.getFullYear() + '-' +\n        padding(date.getMonth() + 1) + '-' +\n        padding(date.getDate()) + ' ' +\n        padding(date.getHours()) + ':' +\n        padding(date.getMinutes()) + ':' +\n        padding(date.getSeconds());\n\n    return time;\n}\n\nconst date = new Date();\ndate.setHours(0, 0, 0, 1);\n\nconst padding = (n) => (n < 10 ? '0' + n : n);\n\nlet startTime = date.getFullYear() + '-' +\n    padding(date.getMonth() + 1) + '-' +\n    padding(date.getDate()) + ' ' +\n    padding(date.getHours()) + ':' +\n    padding(date.getMinutes()) + ':' +\n    padding(date.getSeconds());\n\nmsg.topic = \"TrainingData\";\nmsg.start = startTime;\nmsg.end = getPastDatetime(0);\n\nconsole.log(msg.start);\nconsole.log(msg.end);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 340,
        "wires": [
            [
                "eedfdf205499df89"
            ]
        ]
    },
    {
        "id": "7cac03eb7275642f",
        "type": "function",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "name": "Xử lý output",
        "func": "let rawData = msg.payload;\n\nlet tempData = [];\n\nif (rawData) {\n    Object.values(rawData).forEach(item => {\n        let time = new Date(item.timestamp);\n        \n        if (!isNaN(time)) {\n            tempData.push(item.temperature);\n        }\n    });\n}\n\nif (tempData.length == 0) {\n    msg.payload = \"Không có dữ liệu nhiệt độ trong ngày hôm nay\";\n    return msg;\n}\n\nlet maxValue = 0;\n\nfor (var i = 0; i < tempData.length; i++) {\n    if (tempData[i] > maxValue) {\n        maxValue = tempData[i];\n    }\n}\n\nmsg.payload = `Nhiệt độ cao nhất trong ngày là ${maxValue} độ C`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 340,
        "wires": [
            [
                "108c0c8e24ea6f69"
            ]
        ]
    },
    {
        "id": "6816c49ed228a3c1",
        "type": "function",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "name": "function 19",
        "func": "msg.payload = \"Thời gian gần nhất hệ thống cảnh báo là: \" + msg.payload.timestamp + \", với nhiệt độ là: \" + msg.payload.temp + \" độ C, độ ẩm là: \" + msg.payload.humid + \" %, ppm là: \" + msg.payload.ppm;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 460,
        "wires": [
            [
                "108c0c8e24ea6f69"
            ]
        ]
    },
    {
        "id": "99eab877fd05bb21",
        "type": "mongodb3 in",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "service": "_ext_",
        "configNode": "21c0276998492c37",
        "name": "Lấy giá trị có thời gian gần nhất",
        "collection": "Warning",
        "operation": "findOne",
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "6816c49ed228a3c1"
            ]
        ]
    },
    {
        "id": "1e9014dbe4dd62f8",
        "type": "function",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "name": "function 20",
        "func": "msg.payload = [\n    {},                       // filter: lấy tất cả\n    { sort: { _id: -1 } }     // options: sort giảm dần theo _id\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 460,
        "wires": [
            [
                "99eab877fd05bb21"
            ]
        ]
    },
    {
        "id": "827f3eaef16c5c0f",
        "type": "ui-button",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "group": "4746d28b14b75f3f",
        "name": "Cho tôi biết lần gần nhất thiết bị cảnh báo ảnh hưởng đến sức khoẻ",
        "label": "Cho tôi biết lần gần nhất thiết bị cảnh báo ảnh hưởng đến sức khoẻ",
        "order": 9,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "1e9014dbe4dd62f8"
            ]
        ]
    },
    {
        "id": "eedfdf205499df89",
        "type": "firebase-get",
        "z": "edf7f2456ff47ca6",
        "g": "fd5f63f87004213b",
        "name": "Lấy data 1 ngày",
        "constraints": {
            "orderByChild": {
                "value": "timestamp",
                "type": "str"
            },
            "startAt": {
                "value": "start",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            },
            "endAt": {
                "value": "end",
                "key": "",
                "types": {
                    "value": "msg",
                    "child": "str"
                }
            }
        },
        "database": "firebase-db-001",
        "outputType": "auto",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraints": true,
        "x": 1220,
        "y": 340,
        "wires": [
            [
                "7cac03eb7275642f"
            ]
        ]
    },
    {
        "id": "86ef388802e44873",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-mongodb3": "2.0.1",
            "@gogovega/firebase-config-node": "0.3.2",
            "node-red-contrib-pushsafer": "1.0.3",
            "@gogovega/node-red-contrib-firebase-realtime-database": "0.8.2",
            "node-red-node-email": "5.0.0",
            "node-red-contrib-bcrypt": "0.1.6"
        }
    }
]