flows-3.json
[
    {
        "id": "fbc44ea8c3c7f9af",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5361893b0ad914fd",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bd3a5a387d00743",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6dd5532ad44078a2",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c82f462736d7d6ab",
            "475cb0b5213fda36",
            "c25bab98aa793583"
        ],
        "x": 274,
        "y": 59,
        "w": 432,
        "h": 142
    },
    {
        "id": "b26bfad05d684415",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "94055f98998773d4",
            "a1e623bae7993350",
            "671273b8bcbb3f90"
        ],
        "x": 294,
        "y": 379,
        "w": 392,
        "h": 202
    },
    {
        "id": "48d46b92a8c2505e",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ddb8ad344722f620",
            "98cc833f66b3b9a9"
        ],
        "x": 74,
        "y": 619,
        "w": 192,
        "h": 142
    },
    {
        "id": "42137cc6a566212b",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "951e60583158e3c1",
            "3d4ce9d50ff77ecb"
        ],
        "x": 394,
        "y": 739,
        "w": 252,
        "h": 142
    },
    {
        "id": "b3ecaf2d98cee222",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a297fcf07b47a946",
            "f9ef8227fbc39e54",
            "89a2ff385947daec"
        ],
        "x": 734,
        "y": 379,
        "w": 232,
        "h": 202
    },
    {
        "id": "0473252db7069685",
        "type": "group",
        "z": "fbc44ea8c3c7f9af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "24b315841a270826",
            "b1662d4a62ab8053",
            "7ca1fb8d992ba447",
            "6785d3e17bcf6591"
        ],
        "x": 394,
        "y": 939,
        "w": 432,
        "h": 282
    },
    {
        "id": "ed56a6716eca6b3d",
        "type": "group",
        "z": "5361893b0ad914fd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9c4b81d0ba2cb43",
            "c84d7b40744aa78f",
            "5e48bb85d3064fbb",
            "b9b29bbe4610059e",
            "ee3e83ecc3a45bb1",
            "2585dea704cb9d39",
            "89eb318def1f4873"
        ],
        "x": 74,
        "y": 719,
        "w": 852,
        "h": 222
    },
    {
        "id": "c40edc67e5f6961f",
        "type": "group",
        "z": "5361893b0ad914fd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7490c65c20f18ad3",
            "327b8f73269fc0bb",
            "d61f0bb62ab0d1bf",
            "72a0ff6c488953bf"
        ],
        "x": 194,
        "y": 1039,
        "w": 212,
        "h": 262
    },
    {
        "id": "4b509742a6864ce0",
        "type": "group",
        "z": "5361893b0ad914fd",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0aa77d2f46e024ea",
            "688751c3b83ff57b",
            "69577fb4a4b3ecb8",
            "ef3b48b950203b72",
            "9f2b91266736ad94"
        ],
        "x": 114,
        "y": 419,
        "w": 512,
        "h": 242
    },
    {
        "id": "930c1b11cb9e2faa",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#f5ec00",
                "baseFont": "Times New Roman,Times,serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9fd3e637a69e1bf7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "57f53ea350af62ff",
        "type": "ui_tab",
        "name": "Đăng nhập / Đăng kí",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "64beb902f615388c",
        "type": "ui_tab",
        "name": "home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "632eecae8892db4f",
        "type": "ui_tab",
        "name": "Tab 4",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "e211304bdf84459f",
        "type": "ui_link",
        "name": "Link 5",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "305c496817c0b2fd",
        "type": "ui_tab",
        "name": "Tab 6",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "b11e759d6c66bd03",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "20bdc461d55fdddd",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9cb6dca61e409f37",
        "type": "ui-page",
        "name": "Biểu đồ",
        "ui": "b11e759d6c66bd03",
        "path": "/bieu-do",
        "icon": "chart-multiple",
        "layout": "grid",
        "theme": "20bdc461d55fdddd",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "97317e5e69a3172f",
        "type": "ui-page",
        "name": "Setting",
        "ui": "b11e759d6c66bd03",
        "path": "/settings",
        "icon": "cogs",
        "layout": "grid",
        "theme": "20bdc461d55fdddd",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "7c0d338edc7e7443",
        "type": "ui-group",
        "name": "Đèn",
        "page": "97317e5e69a3172f",
        "width": "3",
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a372e0997ecb9644",
        "type": "ui-group",
        "name": "Thao tác khác",
        "page": "97317e5e69a3172f",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7bb6ba007f54375b",
        "type": "ui-group",
        "name": "Nhiệt độ",
        "page": "9cb6dca61e409f37",
        "width": "4",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f374b07cd7cab8d9",
        "type": "ui-group",
        "name": "Độ ẩm",
        "page": "9cb6dca61e409f37",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "64d71bebcf6f8b62",
        "type": "ui-group",
        "name": "Ô nhiễm không khí",
        "page": "9cb6dca61e409f37",
        "width": "4",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dbab7f5bbb37e7c1",
        "type": "ui-group",
        "name": "Biểu đồ đo thông tin cảm biến",
        "page": "9cb6dca61e409f37",
        "width": "12",
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5075a7d8e4947586",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px",
            "density": "default"
        }
    },
    {
        "id": "d5693fb03c4bf0ce",
        "type": "ui-group",
        "name": "Set thời gian báo thức",
        "page": "97317e5e69a3172f",
        "width": "5",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1cd8c4ce48553b05",
        "type": "ui-group",
        "name": "Chatbot",
        "page": "97317e5e69a3172f",
        "width": "12",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2f9a932f92635c2d",
        "type": "ui-page",
        "name": "Đăng nhập / Đăng kí",
        "ui": "b11e759d6c66bd03",
        "path": "/login",
        "icon": "home",
        "layout": "grid",
        "theme": "default",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "82094bb4a2828ae6",
        "type": "ui-group",
        "name": "form",
        "page": "2f9a932f92635c2d",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "12ad069c3d0240a1",
        "type": "ui-group",
        "name": "Lựa chọn thời gian",
        "page": "9cb6dca61e409f37",
        "width": 12,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5f7d3c4fc2ec8209",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "5ffcb8a9c428adc4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "1d9a7fc0082a411c84fa4a195fc39154.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "5f7d3c4fc2ec8209",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c82f462736d7d6ab",
        "type": "ui-led",
        "z": "fbc44ea8c3c7f9af",
        "g": "6dd5532ad44078a2",
        "name": "Đèn",
        "group": "7c0d338edc7e7443",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "0",
                "valueType": "num",
                "color": "#ff0000"
            },
            {
                "value": "1",
                "valueType": "num",
                "color": "#00ff00"
            },
            {
                "value": "2",
                "valueType": "num",
                "color": "#00f900"
            },
            {
                "value": "3",
                "valueType": "num",
                "color": "#00f900"
            },
            {
                "value": "4",
                "valueType": "num",
                "color": "#00f900"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "a297fcf07b47a946",
        "type": "ui-template",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "group": "d5693fb03c4bf0ce",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n  .alarm-container {\n    font-family: sans-serif;\n    padding: 12px;\n  }\n\n  .label {\n    font-size: 18px;\n    margin-bottom: 6px;\n    display: block;\n    font-weight: 600;\n  }\n\n  .day-buttons {\n    display: flex;\n    gap: 6px;\n    flex-wrap: wrap;\n    margin-top: 8px;\n    margin-bottom: 10px;\n  }\n\n  .day {\n    padding: 6px 10px;\n    border-radius: 8px;\n    border: 1px solid #888;\n    cursor: pointer;\n    user-select: none;\n  }\n\n  .day.selected {\n    background: #007bff;\n    color: white;\n    border-color: #007bff;\n  }\n\n  .time-picker {\n    margin-bottom: 15px;\n  }\n\n  .dropdown,\n  .volume-slider {\n    width: 100%;\n    padding: 8px;\n    margin: 10px 0 18px 0;\n    border-radius: 6px;\n    border: 1px solid #888;\n  }\n\n  .volume-label {\n    margin-top: 4px;\n  }\n</style>\n\n<div class=\"alarm-container\">\n\n  <!-- Time Picker -->\n  <label class=\"label\">⏰ Chọn giờ báo thức</label>\n  <input type=\"time\" id=\"alarmTime\" class=\"time-picker\"/>\n\n  <!-- Repeat Days -->\n  <label class=\"label\">📅 Chọn ngày lặp</label>\n  <div class=\"day-buttons\">\n    <div class=\"day\" data-val=\"1\">Mon</div>\n    <div class=\"day\" data-val=\"2\">Tue</div>\n    <div class=\"day\" data-val=\"3\">Wed</div>\n    <div class=\"day\" data-val=\"4\">Thu</div>\n    <div class=\"day\" data-val=\"5\">Fri</div>\n    <div class=\"day\" data-val=\"6\">Sat</div>\n    <div class=\"day\" data-val=\"0\">Sun</div>\n  </div>\n\n  <!-- Ringtone Dropdown -->\n  <label class=\"label\">🎵 Chọn bài hát báo thức</label>\n  <select id=\"ringtone\" class=\"dropdown\">\n    <option value=\"\">-- Chọn bài hát --</option>\n    <option value=\"morning_bird.mp3\">Morning Bird</option>\n    <option value=\"gentle_breeze.mp3\">Gentle Breeze</option>\n    <option value=\"classic_alarm.mp3\">Classic Alarm</option>\n    <option value=\"soft_piano.mp3\">Soft Piano</option>\n    <option value=\"digital_beep.mp3\">Digital Beep</option>\n  </select>\n\n  <!-- Volume Slider -->\n  <label class=\"label\">🔊 Âm lượng</label>\n  <input type=\"range\" id=\"volumeSlider\" class=\"volume-slider\" min=\"0\" max=\"100\" value=\"70\">\n  <div class=\"volume-label\">Âm lượng: <span id=\"volumeValue\">70</span>%</div>\n\n</div>\n\n<script>\n  (function(scope) {\n  \n  const timeInput = document.getElementById(\"alarmTime\");\n  const ringtoneSelect = document.getElementById(\"ringtone\");\n  const volumeSlider = document.getElementById(\"volumeSlider\");\n  const volumeValue = document.getElementById(\"volumeValue\");\n  const dayButtons = document.querySelectorAll(\".day\");\n\n  // ===============================\n  // 1️⃣ GỬI TẤT CẢ DỮ LIỆU VỀ NODE-RED\n  // ===============================\n  function sendUpdate() {\n\n    // Lấy giờ\n    const timeValue = timeInput.value;\n\n    // Lấy ngày lặp\n    let selectedDays = [];\n    dayButtons.forEach(btn => {\n      if (btn.classList.contains(\"selected\")) {\n        selectedDays.push(btn.dataset.val);\n      }\n    });\n\n    // Lấy bài hát\n    const ringtoneFile = ringtoneSelect.value;\n\n    // Lấy âm lượng\n    const volume = volumeSlider.value;\n\n    // Gửi sang Node-RED\n    scope.send({\n      payload: {\n        time: timeValue,\n        repeatDays: selectedDays,\n        ringtone: ringtoneFile,\n        volume: volume\n      }\n    });\n  }\n\n  // ===============================\n  // 2️⃣ EVENT LISTENERS\n  // ===============================\n  timeInput.addEventListener(\"change\", sendUpdate);\n\n  dayButtons.forEach(btn => {\n    btn.addEventListener(\"click\", () => {\n      btn.classList.toggle(\"selected\");\n      sendUpdate();\n    });\n  });\n\n  ringtoneSelect.addEventListener(\"change\", sendUpdate);\n\n  volumeSlider.addEventListener(\"input\", () => {\n    volumeValue.textContent = volumeSlider.value;\n    sendUpdate();\n  });\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "94055f98998773d4",
        "type": "ui-switch",
        "z": "fbc44ea8c3c7f9af",
        "g": "b26bfad05d684415",
        "name": "Bật / tắt gửi thông báo nhanh về điện thoại",
        "label": "Bật / tắt gửi cảnh báo ô nhiễm không khí về điện thoại",
        "group": "7c0d338edc7e7443",
        "order": 6,
        "width": "4",
        "height": "2",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 490,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a1e623bae7993350",
        "type": "ui-switch",
        "z": "fbc44ea8c3c7f9af",
        "g": "b26bfad05d684415",
        "name": "Bật / tắt gửi biểu đồ hằng tuần",
        "label": "Bật / tắt gửi biểu đồ hằng tuần về mail",
        "group": "7c0d338edc7e7443",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 450,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f9ef8227fbc39e54",
        "type": "ui-switch",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "name": "",
        "label": "Bật / tắt",
        "group": "d5693fb03c4bf0ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb8ad344722f620",
        "type": "ui-form",
        "z": "fbc44ea8c3c7f9af",
        "g": "48d46b92a8c2505e",
        "name": "Đổi mật khẩu",
        "group": "a372e0997ecb9644",
        "label": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Mật khẩu cũ",
                "key": "Mật khẩu cũ",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Mật khẩu mới",
                "key": "Mật khẩu mới",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Nhập lại mật khẩu mới",
                "key": "Nhập lại mật khẩu mới",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Mật khẩu cũ": "",
            "Mật khẩu mới": "",
            "Nhập lại mật khẩu mới": ""
        },
        "payload": "",
        "submit": "Gửi",
        "cancel": "Xoá",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 170,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "951e60583158e3c1",
        "type": "ui-dropdown",
        "z": "fbc44ea8c3c7f9af",
        "g": "42137cc6a566212b",
        "group": "a372e0997ecb9644",
        "name": "Chuyển đổi display",
        "label": "Chọn trạng thái LCD",
        "tooltip": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Thời gian",
                "value": "",
                "type": "str"
            },
            {
                "label": "Độ ẩm, Nhiệt độ, Ô nhiễm không khí",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 510,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3d4ce9d50ff77ecb",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "42137cc6a566212b",
        "group": "a372e0997ecb9644",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Chuyển trạng thái LCD",
        "label": "Chuyển trạng thái LCD",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "98cc833f66b3b9a9",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "48d46b92a8c2505e",
        "group": "a372e0997ecb9644",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Đổi mật khẩu",
        "label": "Đổi mật khẩu",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 170,
        "y": 660,
        "wires": []
    },
    {
        "id": "475cb0b5213fda36",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "6dd5532ad44078a2",
        "group": "7c0d338edc7e7443",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Các thao tác về đèn",
        "label": "Các thao tác về đèn",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "671273b8bcbb3f90",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "b26bfad05d684415",
        "group": "7c0d338edc7e7443",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Bật / Tắt thông báo",
        "label": "Bật / Tắt thông báo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "89a2ff385947daec",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "b3ecaf2d98cee222",
        "group": "d5693fb03c4bf0ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Cài đặt báo thức",
        "label": "Cài đặt báo thức",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ff2600",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "24b315841a270826",
        "type": "ui-button",
        "z": "fbc44ea8c3c7f9af",
        "g": "0473252db7069685",
        "group": "1cd8c4ce48553b05",
        "name": "Thời gian nào",
        "label": "Thời gian nào nguy hiểm đến sức khoẻ nhất",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#a5a5a5",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 500,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "b1662d4a62ab8053",
        "type": "ui-button",
        "z": "fbc44ea8c3c7f9af",
        "g": "0473252db7069685",
        "group": "1cd8c4ce48553b05",
        "name": "Nhiệt độ cao nhất",
        "label": "Nhiệt độ cao nhất trong ngày hôm nay là bao nhiêu",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#000000",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "7ca1fb8d992ba447",
        "type": "ui-button",
        "z": "fbc44ea8c3c7f9af",
        "g": "0473252db7069685",
        "group": "1cd8c4ce48553b05",
        "name": "Cho tôi thông tin dữ liệu",
        "label": "Cho tôi thông tin dữ liệu ngày hôm nay",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 530,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6785d3e17bcf6591",
        "type": "ui-text",
        "z": "fbc44ea8c3c7f9af",
        "g": "0473252db7069685",
        "group": "1cd8c4ce48553b05",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Chatbot: Nhiệt độ cao nhất trong ngày là 40 độ C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "c25bab98aa793583",
        "type": "ui-slider",
        "z": "fbc44ea8c3c7f9af",
        "g": "6dd5532ad44078a2",
        "group": "7c0d338edc7e7443",
        "name": "Chỉnh độ sáng của đèn",
        "label": "Chỉnh độ sáng của đèn",
        "tooltip": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "4",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "c82f462736d7d6ab"
            ]
        ]
    },
    {
        "id": "b9c4b81d0ba2cb43",
        "type": "ui-chart",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "group": "dbab7f5bbb37e7c1",
        "name": "Biểu đồ đo thông tin cảm biến",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Thời gian thực",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Độ C",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "2",
        "removeOlderUnit": "1",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 770,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c84d7b40744aa78f",
        "type": "inject",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Độ ẩm",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "5e48bb85d3064fbb"
            ]
        ]
    },
    {
        "id": "5e48bb85d3064fbb",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "name": "function 1",
        "func": "msg.payload = Math.round(Math.random() * 100)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "b9c4b81d0ba2cb43"
            ]
        ]
    },
    {
        "id": "b9b29bbe4610059e",
        "type": "inject",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Nhiệt độ",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 840,
        "wires": [
            [
                "2585dea704cb9d39"
            ]
        ]
    },
    {
        "id": "ee3e83ecc3a45bb1",
        "type": "inject",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Ô nhiễm không khí",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 900,
        "wires": [
            [
                "89eb318def1f4873"
            ]
        ]
    },
    {
        "id": "2585dea704cb9d39",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "name": "function 2",
        "func": "msg.payload = Math.round(Math.random() * 100)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "b9c4b81d0ba2cb43"
            ]
        ]
    },
    {
        "id": "89eb318def1f4873",
        "type": "function",
        "z": "5361893b0ad914fd",
        "g": "ed56a6716eca6b3d",
        "name": "function 3",
        "func": "msg.payload = Math.round(Math.random() * 100)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 900,
        "wires": [
            [
                "b9c4b81d0ba2cb43"
            ]
        ]
    },
    {
        "id": "7490c65c20f18ad3",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "1 ngày trước",
        "label": "1 ngày trước",
        "order": 1,
        "width": 3,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "327b8f73269fc0bb",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "7 ngày trước",
        "label": "7 ngày trước",
        "order": 2,
        "width": 3,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "d61f0bb62ab0d1bf",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "15 ngày trước",
        "label": "15 ngày trước",
        "order": 3,
        "width": 3,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "72a0ff6c488953bf",
        "type": "ui-button",
        "z": "5361893b0ad914fd",
        "g": "c40edc67e5f6961f",
        "group": "12ad069c3d0240a1",
        "name": "30 ngày trước",
        "label": "30 ngày trước",
        "order": 4,
        "width": 3,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "0aa77d2f46e024ea",
        "type": "mqtt in",
        "z": "5361893b0ad914fd",
        "g": "4b509742a6864ce0",
        "name": "",
        "topic": "/air_quality",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5ffcb8a9c428adc4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 600,
        "wires": [
            [
                "9f2b91266736ad94",
                "ef3b48b950203b72"
            ]
        ]
    },
    {
        "id": "688751c3b83ff57b",
        "type": "ui-gauge",
        "z": "5361893b0ad914fd",
        "g": "4b509742a6864ce0",
        "name": "Nhiệt độ",
        "group": "7bb6ba007f54375b",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Nhiệt độ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "độ C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            },
            {
                "from": "30",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "35",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 480,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "69577fb4a4b3ecb8",
        "type": "ui-gauge",
        "z": "5361893b0ad914fd",
        "g": "4b509742a6864ce0",
        "name": "Độ ẩm",
        "group": "f374b07cd7cab8d9",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ef3b48b950203b72",
        "type": "ui-gauge",
        "z": "5361893b0ad914fd",
        "g": "4b509742a6864ce0",
        "name": "Ô nhiễm không khí",
        "group": "64d71bebcf6f8b62",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "50",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 510,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9f2b91266736ad94",
        "type": "debug",
        "z": "5361893b0ad914fd",
        "g": "4b509742a6864ce0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "66538cd7d977fe18",
        "type": "ui-template",
        "z": "6bd3a5a387d00743",
        "group": "",
        "page": "2f9a932f92635c2d",
        "ui": "",
        "name": "Đăng kí / Đăng nhập",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    .center-wrapper {\n        width: 100%;\n        height: 100vh;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        background: #f5f7fb;\n        font-family: Arial, sans-serif;\n    }\n\n    .auth-card {\n        width: 360px;\n        background: #fff;\n        padding: 28px;\n        border-radius: 16px;\n        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.08);\n        animation: fadeIn .3s ease;\n    }\n\n    .title {\n        text-align: center;\n        font-size: 26px;\n        font-weight: bold;\n        margin-bottom: 22px;\n    }\n\n    .input-box {\n        margin-bottom: 12px;\n    }\n\n    .input-box input {\n        width: 100%;\n        padding: 12px;\n        font-size: 15px;\n        border: 1px solid #ddd;\n        border-radius: 10px;\n        outline: none;\n    }\n\n    .btn {\n        width: 100%;\n        margin-top: 8px;\n        padding: 12px;\n        border: none;\n        border-radius: 10px;\n        background: #4A90E2;\n        color: white;\n        cursor: pointer;\n        font-size: 16px;\n    }\n\n    .link {\n        text-align: center;\n        margin-top: 14px;\n    }\n\n    .link span {\n        color: #4A90E2;\n        cursor: pointer;\n    }\n</style>\n\n<div class=\"center-wrapper\">\n\n    <!-- LOGIN -->\n    <div id=\"login\" class=\"auth-card\">\n        <div class=\"title\">Welcome Back</div>\n\n        <div class=\"input-box\">\n            <input id=\"login_user\" placeholder=\"Username\">\n        </div>\n\n        <div class=\"input-box\">\n            <input id=\"login_pass\" type=\"password\" placeholder=\"Password\">\n        </div>\n\n        <button class=\"btn\" onclick=\"doLogin()\">Login</button>\n\n        <div class=\"link\">Don't have an account?\n            <span onclick=\"showRegister()\">Register</span>\n        </div>\n    </div>\n\n    <!-- REGISTER -->\n    <div id=\"register\" class=\"auth-card\" style=\"display:none;\">\n        <div class=\"title\">Create Account</div>\n\n        <div class=\"input-box\">\n            <input id=\"reg_user\" placeholder=\"Username\">\n        </div>\n\n        <div class=\"input-box\">\n            <input id=\"reg_pass\" type=\"password\" placeholder=\"Password\">\n        </div>\n\n        <button class=\"btn\" onclick=\"doRegister()\">Register</button>\n\n        <div class=\"link\">Already have an account?\n            <span onclick=\"showLogin()\">Login</span>\n        </div>\n    </div>\n\n</div>\n\n<script>\n    function showRegister() {\n    document.getElementById(\"login\").style.display = \"none\";\n    document.getElementById(\"register\").style.display = \"block\";\n  }\n\n  function showLogin() {\n    document.getElementById(\"register\").style.display = \"none\";\n    document.getElementById(\"login\").style.display = \"block\";\n  }\n\n  function doLogin() {\n    const msg = {\n      type: \"login\",\n      username: document.getElementById(\"login_user\").value,\n      password: document.getElementById(\"login_pass\").value\n    };\n    node.send(msg);\n  }\n\n  function doRegister() {\n    const msg = {\n      type: \"register\",\n      username: document.getElementById(\"reg_user\").value,\n      password: document.getElementById(\"reg_pass\").value\n    };\n    node.send(msg);\n  }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "053f40ada9d423d2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.29.0",
            "@flowfuse/node-red-dashboard-2-ui-led": "1.1.0"
        }
    }
]
